#sample{
	position: absolute;
	top:0;
	left:0;
	opacity: 0.1;
	z-index: -1;
}
#canvas{
	display: block;
	margin: 30px auto;
}
#controller{
	margin: 30px auto;
}
.op_btn{
	float: right;
	margin: 10px 0 0 10px;
	border: 2px solid #aaa;
	width: 80px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	border-radius: 5px 5px;
	cursor: pointer;
	background: white;
	font-weight: bold;
	font-family: Microsoft Yahei, Arial;
}
.op_btn:hover{
	background: #def;
}
.clearfix{
	clear: both;
}

.font_btn{
	float: left;
	margin: 10px 10px 0 0;
	border: 5px solid white;
	width: 40px;
	height: 40px;
	border-radius: 5px 5px;
	cursor: pointer;
	font-size:38px;
	color:#fff;
}

.font_btn:hover{
	border: 5px solid violet;
}
.font_btn_selected{
	border: 5px solid blueviolet;
}
#a_btn{
	background: black;
}
#sa_btn{
	background: blue;
}
#na_btn{
	background: green;
}
#ma_btn{
	background: red;
}
#ra_btn{
	background: orange;
}
footer{
	text-align: center;
	height: 30px;
	width: 100%;
	line-height: 30px;
	margin-top: 50px;
}













